html, body {
    width: 100%;
    height: 100%;
}

.containerBody {
    width: 100%;
    height: 100%;
    background-image: url('../img/login.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.companyLogoContainer {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.companyLogoContainer img {
    width: 130px;
    height: 25px;
}

.modalContainer {
    flex-direction: column;
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.modalPassword_sendBody {
    box-shadow: 4px 6px 30px 0 rgba(0, 0, 0, 0.16);
    width: 92%;
    height: 65%;
    background: #fff;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalPassword_sendbody_Text{
    width: 80%;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    height: 83%;
    padding: 7px;
}

.modalPassword_sendbody_Text span{
    font-family: OpenSans, sans-serif;
    font-size: 0.75em;
    line-height: 1.43;
}


.modalPassword_sendBody__Header {
    width: 80%;
    padding: 27px 28px 0;
}

.modalPassword_sendBody__Title {
    padding: 0 0 5px 0;
}

.modalPassword_sendBody__Title label {
    font-size: 19px;
    font-family: 'OpenSans', sans-serif;
    font-weight: bold;
    color: #00a84d;
    line-height: 1.43;
}

.modalPassword_sendBody__Subtitle label {
    font-size: 1.3em;
    font-family: 'OpenSans', sans-serif;
    font-weight: bold;
    color: #222222;
    line-height: 1.6;
    letter-spacing: normal;
}

.modalPassword_sendBody__ButtonContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.modalPassword_sendBody__ButtonContainer button {
    width: 85%;
    height: 10.5vh;
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    border-radius: 35px;
    background-color: #0062ab;
    border: solid 2px #0062ab;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.38;
    letter-spacing: 1.5px;
    outline: none;
}

.modalPassword_sendBody__Footer {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.modalPassword_sendBody__Footer a {
    font-family: 'OpenSans', sans-serif;
    line-height: 1.85;
    font-size: 12px;
    font-weight: 550;
    color: #989898;
    text-decoration-line: none;
}

.footerContainer {
    width: 100%;
    height: 15%;
    opacity: 0.5;
    background-color: #222222;
}

.footerAbsoluteContainer {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerAbsoluteContainer p {
    font-family: 'OpenSans', sans-serif;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2px;
    color: #ffffff;
}

.footerAbsoluteContainer__Body {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (min-width: 473px)  { 


.footerAbsoluteContainer__Body {
    width: 67%;}


}